---
title: Urbank
---
<% @page_classes = "company" %>

<main class="row" role="main">
  <section class="large-9 medium-9 columns">
    <h1>Best Bank Ever!</h1>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.</p>
    <h3>Reason's We're Awesome:</h3>
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Vestibulum auctor dapibus neque.</li>
    </ul>
    <div class="panel" id="mobile-info">
      <h3>Amazing Mobile Info</h3>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <h2 id="rates"><span>Rates</span>Check them out.</h2>
    <table id="urbank-rates" role="data">
      <thead>
        <tr>
          <th class="bank-name empty">&nbsp;</th>
          <th class="apy">Annual Percentage Yield</th>
          <th class="earnings">Est. Earnings for 1 year*</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3">*Based on $50,000 deposit.</td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td class="bank-name">URBank</td>
          <td class="apy">0.87 %</td>
          <td class="earnings">$436.89</td>
        </tr>
        <tr>
          <td class="bank-name">Big Guy Financial</td>
          <td class="apy">0.75 %</td>
          <td class="earnings">$376.41</td>
        </tr>
        <tr>
          <td class="bank-name">Dewey, Cheatam & Howe</td>
          <td class="apy">0.01 %</td>
          <td class="earnings">$5.00</td>
        </tr>
        <tr>
          <td class="bank-name">First Onion</td>
          <td class="apy">0.01 %</td>
          <td class="earnings">$5.00</td>
        </tr>
        <tr>
          <td class="bank-name">Bank of Everywhere</td>
          <td class="apy">0.01 %</td>
          <td class="earnings">$5.00</td>
        </tr>
      </tbody>
    </table>
  </section>

  <aside class="large-3 medium-3 columns">
    <div class="row">
      <div class="large-12 columns"><a class="button secondary small expand" data-modal="login_modal" href="#">Login</a></div>
      <div class="large-12 columns"><a class="button secondary small expand" data-modal="email_modal" href="#">Email</a></div>
    </div>
    <div class="widget">
      <ul class="widget-tabs clearfix">
        <li class="widget-tab current" id="news_tab"><a href="#">News</a></li>
        <li class="widget-tab" id="archive_tab"><a href="#">Archive</a></li>
      </ul>
      <div class="widget-content" id="news_content">
        <h2 class="widget-title">News</h2>
        <article class="post">
          <h3><a href="#">Lorem ipsum dolor</a></h3>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis</p>
        </article>
        <article class="post">
          <h3><a href="#">Lorem ipsum dolor</a></h3>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis</p>
        </article>
        <article class="post">
          <h3><a href="#">Lorem ipsum dolor</a></h3>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis</p>
        </article>
      </div>
      <div class="widget-content" id="archive_content">
        <h2 class="widget-title">Archive</h2>
        <ul>
          <li class="archived-post"><a href="#">Lorem ipsum dolor</a></li>
          <li class="archived-post"><a href="#">Lorem ipsum dolor</a></li>
          <li class="archived-post"><a href="#">Lorem ipsum dolor</a></li>
          <li class="archived-post"><a href="#">Lorem ipsum dolor</a></li>
          <li class="archived-post"><a href="#">Lorem ipsum dolor</a></li>
          <li class="archived-post"><a href="#">Lorem ipsum dolor</a></li>
          <li class="archived-post"><a href="#">Lorem ipsum dolor</a></li>
          <li class="archived-post"><a href="#">Lorem ipsum dolor</a></li>
        </ul>
      </div>
    </div>
  </aside>
</main>
